/x64
PythontoCpptest.sln
/PythontoCpptest/PythontoCpptest.vcxproj
/PythontoCpptest/PythontoCpptest.vcxproj.filters
/PythontoCpptest/PythontoCpptest.vcxproj.user
/Debug
Debug
x64
/PythontoCpptest/Debug
/PythontoCpptest/x64
