PythontoCpptest.sln
/PythontoCpptest.vcxproj
/PythontoCpptest.vcxproj.filters
/PythontoCpptest.vcxproj.user
/Debug
/x64

/PythontoCpptest/PythontoCpptest.sln
/PythontoCpptest/PythontoCpptest/PythontoCpptest.vcxproj
/PythontoCpptest/PythontoCpptest/PythontoCpptest.vcxproj.filters
/PythontoCpptest/PythontoCpptest/PythontoCpptest.vcxproj.user
/PythontoCpptest/PythontoCpptest/Debug
/PythontoCpptest/PythontoCpptest/x64
/PythontoCpptest/x64
